<h2>Fruteria <b>IparFruits</b></h2>

    Frutas precio > 2€ y nonbre: {{nombre2e}} <br>
    Precios totales: {{totalG|currency}} <br>
    Precio total para frutas con precios superiores a 3€: {{total3G | currency}} <br>
    Colores filtrados : {{colores}}
    <form>
        <div class="form-group">
            <label for="busqueda">Filtros:</label>
            <input type="text" class="form-control" ng-model="busqueda.nombre" id="busqueda" placeholder="Tu busqueda">
                
            <select ng-model="busqueda.color" class="form-control">
                <option value="">Selecciona color</option>
                <option ng-repeat="color in colores" value="{{color}}">{{color}}</option>
            </select>
        </div>
    </form>

    <table class="table">
        <thead class="thead-dark">
            <tr class="text-center">
                <th scope="col">Imagen</th>
                <th scope="col" ng-click="filtro('nombre')">Fruta <i class="fas {{flechaN}} "></i></th>
                <th scope="col" ng-click="filtro('precio')">Precio <i class="fas {{flechaP}}"></i></th>
                <th scope="col">Cantidad</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" ng-repeat="fj in frutas  | filter:busqueda |  limitTo: itemPag : itemInicial | orderBy:columna:orden">
                <td class="align-middle"><img ng-src="{{fj.img}}" alt="{{fj.nombre}}"></td>
                <td class="align-middle">{{fj.nombre}}</td>
                <td class="align-middle">{{fj.precio | currency}}/Kg</td>
                <td class="align-middle">
                    <button class="btn btn-primary" ng-click="restar(fj)"><i class="fas fa-minus"></i></button>
                        {{fj.cantidad}}
                    <button class="btn btn-primary" ng-click="sumar(fj)"><i class="fas fa-plus"></i></button>
                </td>
                <td class="align-middle"><button class="btn btn-success" ng-click="comprar(fj)"><i class="fas fa-shopping-cart"></i></button></td>        
            </tr>
            <tr class="text-center">
                <td class="align-middle text-right" colspan="2">TOTAL</td>
                <td class="align-middle text-left" colspan="2">{{total | currency}}</td>
                <td class="align-middle"><button class="btn btn-danger" ng-click="borrar()"><i class="fas fa-trash-alt"></i></button></td>
            </tr>
        </tbody>
    </table>
    <hr>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" ng-show="(itemInicial>0)?true:false"><a class="page-link" ng-click="paginacionAnt()" >Anterior</a></li>

            <li class="page-item" ng-repeat="page in nPag "><a class="page-link" ng-click="irPag(0,5)">1</a></li>
        
            <li class="page-item" ng-show="(itemFinal<totalItems)?true:false"><a class="page-link" ng-click="paginacionSig()">Siguiente</a></li>
        </ul>
    </nav>
    {{nPag | number:0}}
    
 <!-- /end frutasCtrl-->