<h1>{{pokemon.name | uppercase}}</h1>
<div class="row">
  <img ng-src="{{pokemon.sprites.front_default}}" alt="{{pokemon.name}}">
  <img ng-src="{{pokemon.sprites.back_default}}" alt="{{pokemon.name}}">
  <img ng-src="{{pokemon.sprites.front_female}}" alt="{{pokemon.name}}">
  <img ng-src="{{pokemon.sprites.back_female}}" alt="{{pokemon.name}}">
  <img ng-src="{{pokemon.sprites.front_shiny}}" alt="{{pokemon.name}}">
  <img ng-src="{{pokemon.sprites.back_shiny}}" alt="{{pokemon.name}}">
  <img ng-src="{{pokemon.sprites.front_shiny_female}}" alt="{{pokemon.name}}">
  <img ng-src="{{pokemon.sprites.back_shiny_female}}" alt="{{pokemon.name}}">
</div>
<div class="row">
    <div class="col">
        <h5>Caracteristicas:</h5>
        <p>Especie: {{pokemon.species.name|capitalizar}}</p>
        <p>Peso: {{pokemon.weight}}</p>
        <p>Altura: {{pokemon.height}}</p>
    </div>
    <div class="col">
      <h5>Habilidades:</h5>
      <ul ng-repeat="ability in pokemon.abilities">
        <li>{{ability.ability.name | capitalizar}}</li>
      </ul>
    </div>
    <div class="col">
        <h5>Tipos:</h5>
        <ul ng-repeat="type in pokemon.types">
            <li>{{type.type.name | capitalizar}}</li>
        </ul>
    </div>
</div>
<div class="row">
    <h5>Stats:</h5>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Level</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="stats in pokemon.stats">
            <td>{{stats.stat.name | capitalizar}}</td>
            <td>{{stats.base_stat}}</td>
          </tr>
        </tbody>
      </table>
</div>
<h5>Movimientos aprendibles:</h5>
<div class="row">
    <ul class="list-group list-group-flush list-group-horizontal-md" ng-repeat="move in pokemon.moves">
        <li class="list-group-item">{{move.move.name | capitalizar}}</li>
    </ul>
</div>

<!-- 
<pre>{{pokemonDetalle | json}}</pre>
-->